; MAMA CONFIG FILE - V0

[application]
name = mama-rest
version = 1.0
message = "Welcome to MAMA-REST!"
documentation = "send an email at 'contacts-mama-mth@inrae.fr' and ask the documentation"
webapp_url = "http://localhost/mama-rest/public/"

[database]
driver = pdo_mysql
host = 127.0.0.1
dbname = mama_test
user = mama_test_user
password = XSaMyduyvpmLenNn 

[ldap]
email_filter = "/(.*)@.*\.inrae\.fr/"
server = "ldap.inra.fr"
filter = "ou=personnes,dc=inra,dc=fr"
identifier = "uid="

[smtp]
host = "smtp.inrae.fr"
smtpauth = true
username = "service.pfem"
password = "xxxx"
secure = "STARTTLS" 
port = 465
from_email = "do-not-reply@mama.org"
from_displayname ="MAMA"
replyto_email = "do-not-reply@mama.org"
replyto_displayname = "MAMA"

[contact]
email = "nils.paulhe+test-mama-contact@protonmail.ch"
name = "MAMA - Contact"
